---
import Layout from "../layouts/Layout.astro";
import { ContainerTitle, ContentContainer } from "../components/index.astro";
---

<Layout title="About me" mode="dark">
  <ContentContainer>
    <ContainerTitle title="About me" />
    <p>
      I'm an adventurer. The journey can take me to cycling up the highest
      gradient hills in town or spending an all nighter learning a new tech.
    </p>
    <p>
      I have been working as a web developer in various industries including
      airlines, real estate, nonprofit fundraising, and loyalty rewards. Whether
      my projects entail ecommerce capabilities, jamstack features driven by a
      headless CMS, corporate websites, or end-to-end automated testing, I am
      always excited and passionate to work with teams to go above and beyond.
    </p>
    <p>
      Having worked in the industry for a number of years, I find myself
      continually learning new technologies either for work or fun. I find it
      fulfilling when I'm able to solve technical challenges.
    </p>
  </ContentContainer>
</Layout>
