---
import Layout from "../layouts/Layout.astro";
import { proficiencies } from "../components/proficiencies.astro";
import {
  IntroHero,
  ContentContainer,
  IconsContainer,
  TechList,
} from "../components/index.astro";
---

<Layout>
  <IntroHero title="A UI/UX Engineer" name="Johnson Ta" />
  <ContentContainer isCentered>
    <blockquote class="mx-auto">
      Passionate about <strong>code quality</strong>, <strong
        >well tested components</strong
      >, and <strong>accessible UI</strong>
    </blockquote>
  </ContentContainer>

  <ContentContainer isGrey>
    <p class="mb-4">
      I'm an adventurer. The journey can take me to cycling up the highest
      gradient hills in town or spending an all nighter learning a new tech.
    </p>
    <p class="mb-4">
      I have been working as a web developer in various industries including
      airlines, real estate, nonprofit fundraising, and loyalty rewards. Whether
      my projects entail ecommerce capabilities, jamstack features driven by a
      headless CMS, corporate websites, or end-to-end automated testing, I am
      always excited and passionate to work with teams to go above and beyond.
    </p>
    <p>
      Having worked in the industry for a number of years, I find myself
      continually learning new technologies either for work or fun. I find it
      fulfilling when I'm able to solve technical challenges.
    </p>
  </ContentContainer>

  <ContentContainer title="Ambitions">
    <p>
      <strong>7+</strong> years of professional experience and I love the <strong
        >continual growth</strong
      > it provides! It's allowed me to shift focus from the Frontend, to Backend,
      and DevOps. I'm always looking for <strong>new challenges</strong> and <strong
        >opportunities</strong
      >
      to push myself, and the projects I help create.
    </p>
  </ContentContainer>

  <IconsContainer
    isCentered
    title="Companies I've built things for"
    icons={[
      {
        name: "Sceneplus",
        icon: "../scene-plus.PNG",
        url: "https://www.sceneplus.ca/",
      },
      {
        name: "Swoop Airlines",
        icon: "../swoop.png",
        url: "https://www.flyswoop.com/",
      },
      {
        name: "TouchBistro",
        icon: "../touchbistro.PNG",
        url: "https://www.touchbistro.com/",
      },
      {
        name: "Kiokii and...",
        icon: "../logo_kiokii.svg",
        url: "https://kiokii.com/",
      },
      {
        name: "CIBC",
        icon: "../cibc-logo.svg",
      },
      {
        name: "Martin Daniel Interiors",
        icon: "../martin-daniels-interior.png",
        url: "http://www.martindanielinteriors.com/",
      },
      {
        name: "CAMH",
        icon: "../camh.PNG",
      },
      {
        name: "Elgin East",
        icon: "../elgineast.PNG",
      },
      {
        name: "Ferrari & Associates",
        icon: "../ferrarri.PNG",
      },
      {
        name: "Guildhall",
        icon: "../guildhall.png",
        url: "https://guildhallpreciousmetals.com/",
      },
    ]}
  />
</Layout>
