---
import { Icon } from "astro-icon";
import { ContainerTitle, ContentContainer } from "../components/index.astro";
import Layout from "../layouts/Layout.astro";
import { proficiencies } from "../components/proficiencies.astro";
---

<Layout title="Proficiencies" mode="dark">
  <ContentContainer>
    <ContainerTitle title="Proficiencies" secondaryColour />

    <ul class="skills-list">
      {
        proficiencies.map((proficiency) => (
          <li>
            <p>
              <Icon class="icon" name={proficiency.icon} />
              <strong>{proficiency.skill}</strong>
            </p>
            {proficiency.description}
          </li>
        ))
      }
    </ul>
  </ContentContainer>
</Layout>

<style lang="scss" scoped>
  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    list-style: none;
    gap: 2em;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: 644px) {
      display: inline;
    }
  }
</style>
