---
import Layout from "../layouts/Layout.astro";
import { ContainerTitle, ContentContainer } from "../components/index.astro";
---

<Layout title="About me" mode="dark">
  <ContentContainer>
    <ContainerTitle title="Resume" secondaryColour />

    <p>Content to come</p>
  </ContentContainer>
</Layout>
