---
import Layout from "../layouts/Layout.astro";
import { ContainerTitle, ContentContainer } from "../components/index.astro";

const hardware = [
  "Intel Core i5 PC",
  "Philips 24inch Monitor",
  "Dell 24inch Monitor",
  "MX Master 3",
  "Ducky Mechanical Keyboard",
  "Plugable Dock",
  "MPow Headset",
];
const softwares = [
  "VS Code",
  "PyCharm",
  "Spotify",
  "SketchUp",
  "Figma",
  "Sketch",
  "Adobe",
  "Chrome",
];
---

<Layout title="About me" mode="dark">
  <ContentContainer>
    <ContainerTitle title="Uses" secondaryColour />
    <p>
      I began programming with Macs but 've been happily developing on Windows
      OS for many years now.
    </p>

    <div class="uses-section">
      <div class="use-col">
        <ContainerTitle title="Hardware" secondaryColour />
        <ul>
          {hardware.map((hardware) => <li>{hardware}</li>)}
        </ul>
      </div>
      <div class="use-col">
        <ContainerTitle title="Software" secondaryColour />
        <ul>
          {softwares.map((software) => <li>{software}</li>)}
        </ul>
      </div>
    </div>
  </ContentContainer>
</Layout>

<style lang="scss" scoped>
  .uses-section {
    display: flex;
    justify-content: space-evenly;
  }
</style>
