---
const { class: className, isFlex = false, isCentered = false } = Astro.props;
---

<div
  class:list={[
    "container flex flex-wrap items-center justify-between mx-auto",
    className,
    { "is-flex": isFlex, "is-centered": isCentered },
  ]}
>
  <slot />
</div>

<style lang="scss" scoped>
  .container {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 1em;

    &.is-flex {
      display: flex;
      gap: 3em;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 1em;
      }
    }
  }
</style>
