---
import { Container, ContainerTitle } from "./index.astro";

const {
  title = "",
  isFlex = false,
  isCentered = false,
  isGrey = false,
} = Astro.props;
---

<section class:list={[{ "text-center": isCentered, "is-grey": isGrey }]}>
  <Container>
    {title && <ContainerTitle title={title} secondaryColour />}
  </Container>
  <Container isFlex={isFlex}>
    <slot />
  </Container>
</section>
