---
const { title = "", secondaryColour = false } = Astro.props;
---

{title && <h2 class:list={[{ "is-secondary": secondaryColour }]}>{title}</h2>}

<style lang="scss" scoped>
  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;

    @media screen and (max-width: 644px) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
</style>
