---
import { Icon } from "astro-icon";
import { Container } from "./index.astro";
import { colorStandout } from "../styles/vars.astro";
import { social } from "./social.astro";

const { title = "", name = "" } = Astro.props;
---

<section class="reverse">
  <Container>
    <div class="hero--container">
      <div class="hero-intro--container">
        <h1>
          <span class="title">{title}</span>
          <span class="name">{name}</span>
        </h1>

        <ul class="social">
          {
            social.map((socialItem) => (
              <li>
                <a href="https://github.com/johnsonta87" target="_blank">
                  <Icon class="icon" name={socialItem.icon} />
                </a>
              </li>
            ))
          }
          <li>
            <a href="mailto:jnsn.ta@gmail.com"
              ><Icon class="icon" name="ic:twotone-mail" /></a
            >
          </li>
        </ul>
      </div>

      <div class="hero-image--container">
        <img
          alt="Johnson Ta"
          class="hero-featured--image"
          height="auto"
          loading="eager"
          src="../images/johnsonta.jpg"
          width="auto"
        />
      </div>
    </div>
  </Container>
</section>

<style lang="scss" scoped define:vars={{ colorStandout }}>
  .hero--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3em;
    z-index: 0;

    .hero-intro--container {
      padding: 2rem 0 0;
      text-align: right;

      > h1 {
        font-size: 2.25rem;
        font-weight: 800;
        line-height: 1.1;

        .title {
          display: block;
          font-size: 1.5rem;
          line-height: 2rem;

          @media screen and (max-width: 767px) {
            font-size: 1rem;
          }
        }

        .name {
          font-size: 4.5rem;
          color: var(--colorStandout);

          @media screen and (max-width: 767px) {
            font-size: 2rem;
          }
        }
      }
    }

    .hero-image--container {
      cursor: pointer;
      aspect-ratio: 1/1;
      border-radius: 999px;
      overflow: hidden;
      border: 4px solid var(--colorStandout);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: rotate(15deg);
      }

      img {
        max-height: 10rem;
        transition-duration: 0.15s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .social {
    list-style: none;
    display: flex;
    gap: 0.5em;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
</style>
