---
import { Container } from "./index.astro";
import { colorStandout } from "../styles/vars.astro";

const { title = "", name = "" } = Astro.props;
---

<section class="reverse">
  <Container>
    <div class="hero--container">
      <div class="hero-intro--container">
        <h1>
          <span class="title">{title}</span>
          <span class="name">{name}</span>
        </h1>
      </div>

      <div class="hero-image--container">
        <img
          alt="Johnson Ta"
          class="hero-featured--image"
          height="auto"
          loading="eager"
          src="../images/johnsonta.jpg"
          width="auto"
        />
      </div>
    </div>
  </Container>
</section>

<style lang="scss" scoped define:vars={{ colorStandout }}>
  .hero--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3em;
    z-index: 0;

    .hero-intro--container {
      padding: 2rem 0 0;
      text-align: right;

      > h1 {
        font-size: 2.25rem;
        font-weight: 800;
        line-height: 1.1;

        .title {
          display: block;
          font-size: 1.5rem;
          line-height: 2rem;
        }

        .name {
          font-size: 4.5rem;
          color: var(--colorStandout);
        }
      }
    }

    .hero-image--container {
      cursor: pointer;
      aspect-ratio: 1/1;
      border-radius: 999px;
      overflow: hidden;
      border: 4px solid var(--colorStandout);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: rotate(15deg);
      }

      img {
        max-height: 10rem;
        transition-duration: 0.15s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
</style>
