---
import { SEO } from "astro-seo";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import Themes from "astro-themes";
import {
  fontBody,
  fontHeading,
  colorStandout,
  colorStandoutLight,
  colorDark,
  colorLight,
  colorBackgroundDark,
  colorBackground,
  colorGreyLight,
  colorGreyDark,
  colorBodyDark,
} from "../styles/vars.astro";
import "@fontsource/lora";

export interface Props {
  title: string;
  mode: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, mode } = Astro.props;

const makeTitle = title
  ? title + " | " + "Johnson"
  : "Johnson Ta - Freelance Front-end UI/UX Developer (Javascript, React, Vue, Node) in Ontario Canada";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Themes defaultTheme="dark" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Johnson Ta - Freelance Front-end UI/UX Developer (Javascript, React, Vue, Node) in Ontario Canada"
      canonical={canonicalURL}
      twitter={{
        creator: "@JNSN_",
        site: "@JNSN_",
      }}
    />
  </head>

  <body
    class="flex flex-col min-h-screen font-sans space-y-16 bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50"
    class:list={[mode === "dark" ? "dark-mode" : ""]}
  >
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <style
      lang="scss"
      is:global
      define:vars={{
        fontBody,
        fontHeading,
        colorStandout,
        colorStandoutLight,
        colorDark,
        colorLight,
        colorBackground,
        colorBackgroundDark,
        colorGreyLight,
        colorGreyDark,
        colorBodyDark,
      }}
    >
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }

      [data-theme="light"] {
        --colorBackground: var(--colorBackground);
        --fontColor: var(--colorDark);
        --colorBackgroundReverse: var(--colorBackground);
        --greyBackground: var(--colorGreyLight);
        --borderColor: var(--borderLight);

        #dark-mode-button {
          display: none;
        }

        footer {
          background-color: var(--colorGreyLight);
        }

        .icon {
          color: var(--colorBodyDark);
        }
      }

      [data-theme="dark"] {
        --colorBackground: var(--colorBackgroundDark);
        --fontColor: var(--colorLight);
        --colorBackgroundReverse: var(--colorGreyDark);
        --greyBackground: var(--colorGreyDark);
        --borderColor: var(--borderDark);

        #light-mode-button {
          display: none;
        }

        .dark:text-white {
          color: var(--colorLight);
        }

        body {
          background-color: var(--colorBodyDark);
        }

        header {
          background-color: var(--colorBodyDark);
        }

        footer {
          background-color: var(--colorBackgroundDark);
        }

        .icon {
          color: var(--colorLight);
        }
      }

      html {
        font-family: system-ui, sans-serif;
        overflow-x: hidden;
      }

      body {
        width: 100%;
        margin: 0;
        font-family: var(--fontBody);
        font-size: 1rem;
        overflow-x: hidden;
        margin-top: 4em;
        transition: all 0.14s ease-out;
      }

      a {
        text-decoration: none;
        transition: all 0.14s ease-out;

        &:hover {
          color: rgb(99 102 241);
        }
      }

      img {
        content-visibility: auto;
        max-width: 100%;
        height: auto;
      }

      blockquote {
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin: 0;
      }

      section {
        padding-bottom: 3em;
        padding-top: 3em;
        border-bottom: var(--border);
      }

      h1,
      h2,
      h3,
      h4 {
        position: relative;
        font-family: var(--fontHeading);
        font-weight: 700;
        letter-spacing: 2px;
      }

      ul {
        padding-left: 1em;
      }

      .icon {
        width: 1em;
      }

      .sr-only {
        clip: rect(0, 0, 0, 0);
        border-width: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    </style>
  </body>
</html>
